html {
  /* px means "pixels". The base font size is now 10 pixels high */
  font-size: 15px;
  font-family: "Roboto", sans-serif;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 25%;
}

html {
  background-color: #e6f0d7;
}

h2 {
  
}

h1 {
  margin: 0;
  padding: 20px 0;
}

.content-wrapper {
  width: 1000px;
  margin: 10px auto;
  padding: 0 20px 20px 20px;
  border: 2px solid black;
}

.content-body--left{
  display: flex;
  flex-direction: row;
}

.content-body--left img {
  margin: 10px;
}

.navbar {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
}

.button {
  text-decoration: none;
  padding: 8px 10px;
  border-radius: 3px;
  color: white;
  background-color: #556b2f;
}

